* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin-top: 30px;
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  font-weight: 800;

}

#calculator {
  width: 300px;
  height: 330px;
  margin: 50px auto 0 auto;
  background-color: #58C9B9;
  padding: 10px 10px 260px 10px;
  border-radius: 2px;
}

#placeholder {
  width: 200px;
  height: 40px;
  float: left;
  line-height: 40px;
  background-color: #3E4651;
  color: #fff;
  margin: 5px;
  border-radius: 3px;
}

.clear, .button {
  height: 40px;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #2c3e50;
  margin: 5px;
} 

.clear {
  width: 55px;
  float: left;
  background-color: #c0392b;
  color: #fff;
    border-color: #A63125;
}

  .clear:hover {
    background-color: #D6523C;
  }

.button {
  float: left;
  width: 55px;
}

  .button:hover {
    background-color: honeydew;
  } 
